<template>
  <q-page padding>
    <q-breadcrumbs>
      <q-breadcrumbs-el label="Home" :to="{ name: 'GeneralIndex'}" />
      <q-breadcrumbs-el label="Cats" />
    </q-breadcrumbs>
    <h1>Cat Facts</h1>
    <q-btn @click="addFact" label="+ Add New Fact" color="positive" class="q-mb-md" />
    <q-infinite-scroll @load="onLoad" :disable="isPaginationDisabled" :offset="100">
      <q-banner v-if="catsStore.facts.length === 0" class="bg-primary text-white">
        There is no fact added yet, start adding one!
      </q-banner>
      <div class="row content-stretch">
        <div v-for="(item, index) in catsStore.facts" :key="index" class="q-px-sm col-xs-12 col-sm-4 col-md-2 q-mb-md">
          <q-card>
            <q-card-section>
              {{ item.fact }}
            </q-card-section>
            <q-separator dark />
            <q-card-actions>
              <q-btn @click="editFact(item)" flat color="primary" class="q-mr-sm" icon="edit" />
              <q-btn @click="deleteFact(item.id)" flat color="negative" icon="delete" />
            </q-card-actions>
          </q-card>
        </div>
      </div>
        <template v-slot:loading>
          <div class="row justify-center q-my-md">
            <q-spinner-dots color="primary" size="40px" />
          </div>
        </template>
    </q-infinite-scroll>
  </q-page>
  <q-dialog v-model="form" persistent>
    <q-card style="min-width: 350px">
      <q-card-section>
        <div class="text-h6">{{ mode === 'new' ? 'Add a new' : 'Edit' }} fact</div>
      </q-card-section>
      <q-card-section class="q-pt-none">
        <q-form @submit.prevent="onSubmit" id="form">
          <q-input
            outlined
            v-model="fact"
            label="Fact"
            :rules="[value => !!value || 'A fact is Required']"
          />
        </q-form>
      </q-card-section>
      <q-card-actions align="right" class="text-primary">
        <q-btn @click="fact = ''" flat label="Cancel" v-close-popup form="form" />
        <q-btn @click="onSubmit" flat label="Save Fact"  />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script lang="ts" setup>
import useCatsStore from 'stores/cats'
import { onBeforeMount, ref } from 'vue'
import { Fact } from 'src/models/Fact'

const loading = ref(false)
const isPaginationDisabled = ref(false)
const form = ref(false)
const mode = ref('')
const fact = ref('')
const catsStore = useCatsStore()

function deleteFact (id: number) {
  if (confirm('Are you sure you want to delete this fact? THIS ACTION CANNOT BE UNDONE!')) {
    catsStore.deleteFact(id)
  }
}

function editFact (editFact: Fact) {
  catsStore.fact = editFact
  fact.value = editFact.fact
  form.value = true
  mode.value = 'edit'
}

function addFact () {
  fact.value = ''
  form.value = true
  mode.value = 'new'
}

function onLoad (index, done) {
  loading.value = true
  catsStore.getAllFacts({ page: index })
    .then(resp => {
      loading.value = false
      done()
      if (resp.data.last_page === index) {
        isPaginationDisabled.value = true
      }
    })
}

function onSubmit () {
  if (mode.value === 'new') {
    catsStore.storeFact({ fact })
  } else {
    catsStore.updateFact(catsStore.fact.id as number, { fact })
  }
  form.value = false
}

onBeforeMount(() => {
  catsStore.facts = []
})
</script>
